<app-notfound *ngIf="exist == false"></app-notfound>


<div class="bg-gray-100" *ngIf="name">
    <div class="bg-blue-800 h-20 sm:h-16 pt-6">
        <h1 align="center" class="text-gray-100">DEPARTAMENTO DE RECURSOS HUMANO DIRECCIÓN DE ÁREA DE SALUD DE JALAPA
        </h1>
    </div>

    <div class="target animated fadeInLef">
        <div class="flex h-screen justify-center items-center">
            <div class="max-w-xl rounded">

                <div class="max-w-xl border-blue-500 bg-gray-100 -mt-20">

                    <div class="text-gray-800 px-2 text-justify ">
                        <b>{{name}}</b> es servidor público que presta servicios en la Dirección de Área de
                        Salud
                        de
                        Jalapa,
                        dependencia del Ministerio de Salud Pública y Asistencia Social.
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>