<app-navbar></app-navbar>
<div div class="mt-8 px-6">
  <div class="container">
    <div class="ml-16 mr-auto">
      <div class="ed-item ed-container">
        <div class="ed-item s-30">
          <div class="flex items-center px-0 sm:px-1 ">
            <button class="mycustom-buttom-primary bg-blue-500 hover:bg-blue-700 rounded-lg tamano"
            routerLink="/curriculum">Ver Curriculum</button>
          </div>
        </div>
        <div class="ed-item s-30">
          <div class="flex items-center px-0 sm:px-1 ">
            <button class="mycustom-buttom-primary bg-purple-500 hover:bg-purple-700 rounded-lg tamano"
              >Solicitar Permiso</button>
          </div>
        </div>
        <div class="ed-item s-30">
          <div class="flex items-center px-0 sm:px-1 ">
            <button class="mycustom-buttom-primary hover:bg-green-700 rounded-lg tamano"
            routerLink="/historial">Ver Historial De Permiso</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


