<app-navbar></app-navbar>
<!--Data object from database-->
<div class="mt-8 px-6">



  <div class="ml-16 mr-auto">
    <div class="datagrid overflow-x-auto block">
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>NOMBRE COMPLETO</th>
            <th>CÓDIGO</th>
            <th>EMITIDO</th>
            <th>EDITAR</th>
            <th>IMPRIMIR</th>
          <!--  <th *ngIf="user.rol === 'admin'">BORRAR</th>-->
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let rv of requestsVacation | filter:search:'person'; let indexof = index" class="text-lg"
            [class.alt]="(indexof + 1)%2==1">
            <td>{{indexof + 1}}</td>
            <td>{{rv.person.fullname}}</td>
            <td>{{rv.person.cui}}</td>
            <td>{{rv.submitted_at}}</td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
