<app-navbar></app-navbar>

<!--Data object from database-->
<div class="mt-8 px-6">
  <div class="ed-container">



  <div class="ml-16 mr-auto">
    <div class="datagrid overflow-x-auto block">
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>NOMBRE COMPLETO</th>
            <th>CÓDIGO</th>
            <th>EMITIDO</th>
            <th>IMPRIMIR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ai of authorizations | filter:search:'person'; let indexof = index" class="text-lg"
            [class.alt]="(indexof + 1)%2==1">
            <td>{{indexof + 1}}</td>
            <td>{{ai.person.fullname}}</td>
            <td>{{ai.person.cui}}</td>
            <td>{{ai.submitted_at}}</td>

            <td style="width: 10px;" *ngIf="user.rol == 'admin'">
              <div class="rounded-full cursor-pointer" (click)="printPDF(ai.uuid_authorization)">
                <div class="justify-center text-center ">
                  <i class="fas fa-print fa-2x fa-fw fa-inverse text-gray-900"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

