<app-navbar></app-navbar>
<div class="box">


  <form [formGroup]="addressFormPerson">
    <mat-card>
      <mat-card-content>
        <div align="center" class=" font-bold capitalize" style="margin-bottom: 20PX; font-size: 20px;">
          FORMULARIO DE AUSENCIA AL SERVICIO <br>
          JEFATURA DE PERSONAL <br>
          DIRECCIÓN DE ÁREA DE SALUD DE JALAPA <br>
        </div>
        <div class="row ">
          <mat-form-field appearance="fill" style="width: 520px; margin-right: 10px;">
            <mat-label>NOMBRE DEL SOLICITANTE</mat-label>
            <input matInput formControlName="fullname" readonly>
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 130px;">
            <mat-label>RENGLON</mat-label>
            <input matInput readonly formControlName="renglon">
          </mat-form-field>
        </div>
        <div class="row" align="center">
          <mat-form-field appearance="fill" style="width: 400px; ">
            <mat-label>PUESTO QUE DESEMPEÑA</mat-label>
            <input matInput readonly formControlName="job">
          </mat-form-field>
        </div>
      </mat-card-content>

    </mat-card>
  </form>
  <form [formGroup]="addressFormPermission">
    <mat-card style="margin-top: -10px;">
      <mat-card-content>
        <div class="row" align="center">
          <mat-form-field appearance="fill" style="width: 520px;" *ngIf="editing==false">
            <mat-label>INDIQUE LA RAZÓN DE SU AUSENCIA AL SERVICIO</mat-label>
            <mat-select [disabled]="disableSelect.value" formControlName="motive">
              <mat-option value="Permiso (conforme lo establecido en la Ley de Servicio Civil y Pacto Colectivo)">
                Permiso (conforme lo establecido en la Ley de Servicio Civil y Pacto Colectivo) </mat-option>
              <mat-option value="Reposición de tiempo extra laborado">Reposición de tiempo extra laborado</mat-option>
              <mat-option value="Asueto por cumpleaños">Asueto por cumpleaños</mat-option>
              <mat-option value="No marcaje de huella por cumplimiento de actividades o comisiones">No marcaje de huella
                por cumplimiento de actividades o comisiones</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 130px; margin-left: 10px;">
            <mat-label>FECHA DE AUSENCIA</mat-label>
            <input matInput type="date" formControlName="permissionDate" [readonly]="editing == true">
          </mat-form-field>
        </div>
        <div class="row">
          <p>
            <mat-checkbox [formControl]="disableSelect" *ngIf="editing==false">OTRO</mat-checkbox>
          </p>
          <div>
            <mat-form-field *ngIf="disableSelect.value == true" appearance="fill" style="width: 660px; margin-top: -20px;">
              <mat-label>RAZÓN DE AUSENCIA</mat-label>
              <textarea matInput [readonly]="editing == true"
                formControlName="motive"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <mat-form-field appearance="fill" style="width: 660px; margin-top: 10px;">
            <mat-label>DOCUMENTOS A ADJUNTAR</mat-label>
            <textarea matInput  [readonly]="editing == true"
              formControlName="document"></textarea>
          </mat-form-field>
        </div>
        <!-- <div class="row">
          <div align="center" class=" font-bold capitalize" style="margin-bottom: 20PX;">
            DOCUMENTACIÓN QUE ADJUNTA PARA EVIDENCIAR LA AUSENCIA AL SERVICIO:
          </div>
        </div>

        <div class="row">
          <div align="center">
             <form name="formulario" method="post" action="/send.php" enctype="multipart/form-data">
              <button mat-raised-button type="button" class="btn mb-5 btn-primary" aria-haspopup="true"
                aria-expanded="false" style="width: 200px;">
                Adjuntar Archivo:
                <i class="fas fa-paperclip fa-2x" type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple></i>
              </button>
            </form> -->
        <!-- <input type="file" (change)="uploadImage($event)">

            <div class="images" style="margin-bottom: 20px;">
              <img [src]="image" *ngFor="let image of images" width="200">
            </div>
 -->
        <!-- </div>
        </div> -->

        <div align="center" class="row">
          <mat-form-field appearance="fill" style="width: 260px; margin-right: 10px;">
            <mat-label>JEFE INMEDIATO</mat-label>
            <mat-select formControlName="bossOne" [disabled]="editing == true" required>
              <mat-option value="" disabled>Seleccionar</mat-option>
              <mat-option value="{{item.uuid}}" *ngFor="let item of bossOneList">{{item.fullname}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 260px;">
            <mat-label>JEFE VO.BO.</mat-label>
            <mat-select formControlName="bossTwo" [disabled]="editing == true" required>
              <!-- <input type="text" class="p-2" autocomplete="off" matInput placeholder="Buscar por Nombre"
                  #multiUserSearch (input)="onInputChange()"> -->
              <mat-option value="" disabled>Seleccionar</mat-option>
              <mat-option value="{{item.uuid}}" *ngFor="let item of bossTwoList">{{item.fullname}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="row" *ngIf="deny==true ">
            <div align="center" class=" font-bold capitalize">
              MOTIVO DE RECHAZO:
            </div>
            <mat-form-field appearance="fill" style="width: 660px;">
              <textarea matInput formControlName="reason" readonly></textarea>
            </mat-form-field>
          </div>
        </div>
        <div align="center" class="row">
          <button *ngIf="editing==false" type="submit" mat-raised-button color="primary" style="margin-bottom: 10px;"
            (click)="createNewPermission(addressFormPermission)">Solicitar</button>
        </div>
        <div align="center" class="row" *ngIf="editing==true && statusbossOne==true">
          <button mat-raised-button color="primary" style="margin-right: 10px; margin-bottom: 10px"
            (click)="acceptRequest(addressFormPermission)">Aceptar</button>
          <button mat-raised-button color="primary" (click)="denyRequest()">Denegar</button>
        </div>
        <div align="center" class="row" *ngIf="editing==true && statusbossTwo==true">
          <button mat-raised-button color="primary" style="margin-right: 10px;"
            (click)="acceptRequest(addressFormPermission)">Aceptar VO.BO.</button>
          <button mat-raised-button color="primary" (click)="denyRequest()">Denegar VO.BO.</button>
        </div>
        <div align="center" class="row">
          <button mat-raised-button color="primary" style="margin-top: 10px;" *ngIf="editing==true">Imprimir</button>
        </div>

      </mat-card-content>

    </mat-card>
  </form>


</div>
