<header class="ed-header bg-blue-900" *ngIf="!loged">
  <div class="text-center align-middle items-center pt-4">
    <h1 class="text-gray-200 text-2xl">
      SECCIÓN DE RECURSOS HUMANOS <br>
      DIRECCIÓN DE ÁREA DE SALUD DE JALAPA
    </h1>
  </div>
</header>

<div class="area"></div>
<nav class="main-menu fixed" *ngIf="loged">
  <ul class="mt-8">

    <li >
      <a routerLink="/dashboard">
        <i class="fa fa-address-book fa-2x"></i>
        <span class="nav-text" *ngIf="user.rol == 'admin'||user.rol == 'member'">
          Registros
        </span>
        <span class="nav-text" *ngIf="user.rol == 'employed'||user.rol == 'boss'||user.rol =='boss2' ">
          Principal
        </span>
      </a>

    </li>

    <li *ngIf="user.rol == 'employed'||user.rol == 'boss'||user.rol =='boss2' ">
      <a routerLink="/curriculum">
        <i class="fa fa-user-md fa-2x"></i>
        <span class="nav-text">
          Curriculum
        </span>
      </a>
    </li>


    <li *ngIf="user.rol == 'admin' || user.rol == 'member' ">
      <a (click)="DisplayNone()">
        <i class="fa fa-clock-o fa-2x"></i>
        <span class="nav-text">
          Historiales <bdi *ngIf="user.rol == 'admin'">y configuración</bdi>
        </span>
      </a>
    </li>

    <div [ngClass]="{ 'hidden': isClicked == true}">
      <li *ngIf="user.rol == 'admin'">
        <a routerLink="/registros" routerLinkActive="text-yellow-500">
          <div class="ml-4">
            <i class="fa fa-clock-o fa-2x"></i>
            <span class="nav-text font-bold ml-3">
              Historial de autorizaciones
            </span>
          </div>
        </a>
      </li>

      <li *ngIf="user.rol == 'admin'||user.rol == 'member'">
        <a routerLink="/solicitudes" routerLinkActive="text-yellow-500">
          <div class="ml-4">
            <i class="fa fa-clock-o fa-2x"></i>
            <span class="nav-text font-bold ml-3">
              Historial de solicitudes
            </span>
          </div>
        </a>
      </li>
    </div>

    <li *ngIf="user.rol == 'admin'">
      <a routerLink="/dependency">
        <i class="fa fa-user-md fa-2x"></i>
        <span class="nav-text">
          Dependencia y puesto
        </span>
      </a>
    </li>

    <li class="has-subnav" *ngIf="user.rol === 'admin'">
      <a routerLink="/usuarios">
        <i class="fa fa-users fa-2x"></i>
        <span class="nav-text">
          Usuarios
        </span>
      </a>
    </li>

    <li *ngIf="user.rol == 'admin' || user.rol == 'boss'||user.rol == 'boss2'">
      <a (click)="isClickedReportes = !isClickedReportes">
        <i class="fa fa-clipboard-list"></i>
        <span class="nav-text">
          Reportes
        </span>
      </a>
    </li>

    <div [ngClass]="{ 'hidden': isClickedReportes == true}">
      <li *ngIf="user.rol == 'admin'">
        <a routerLink="/reportes" routerLinkActive="text-yellow-500">
          <div class="ml-4">
            <i class="fa fa-user-check fa-2x"></i>
            <span class="nav-text font-bold ml-3">
              Reporte de autorizaciones
            </span>
          </div>
        </a>
      </li>

      <li *ngIf="user.rol == 'admin'">
        <a routerLink="/personas" routerLinkActive="text-yellow-500">
          <div class="ml-4">
            <i class="fa fa-user-tie"></i>
            <span class="nav-text font-bold ml-3">
              Reporte de registros completos
            </span>
          </div>
        </a>
      </li>
      <li *ngIf="user.rol == 'boss'||user.rol == 'boss2'||user.rol == 'admin'">
        <a routerLink="/SolicitudesDePermisos" routerLinkActive="text-yellow-500">
          <div class="ml-4">
            <i class="fa fa-clipboard-check"></i>
            <span class="nav-text font-bold ml-3">
              Reporte de solicitudes de ausencias
            </span>
          </div>
        </a>
      </li>

    </div>
    <li class="has-subnav" *ngIf="user.rol == 'boss'||user.rol == 'boss2'||user.rol == 'employed'">
      <a routerLink="/solicitudpermiso">
        <i class="fa fa-pen fa-2x"></i>
        <span class="nav-text">
          Solicitar permiso de ausencia
        </span>
      </a>
    </li>

    <li class="has-subnav" *ngIf="user.rol == 'boss'||user.rol == 'boss2' ">
      <a routerLink="/permisos">
        <i class="fa fa-check "></i>
        <span class="nav-text">
          Aceptar/Denegar permisos de ausencias
        </span>
      </a>
    </li>

    <li class="has-subnav" *ngIf="user.rol == 'boss'||user.rol == 'boss2'||user.rol == 'employed'">
      <a routerLink="/estadopermisos">
        <i class="fa fa-layer-group fa-2x"></i>
        <span class="nav-text">
          Estado de mis solicitudes de ausencias
        </span>
      </a>
    </li>


  </ul>



    <ul class="logout">
        <li *ngIf="user.rol == 'admin'">
            <a (click)="changePassword()">
                <i class="fa fa-user-edit fa-2x"></i>
                <span class="nav-text">
                    Cambiar contraseña
                </span>
            </a>
        </li>

        <li>
            <a (click)="Logout()">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Cerrar Sesion
                </span>
            </a>
        </li>

        <li>
            <div class="px-2">
                <div class="flex -space-x-1 overflow-hidden cursor-pointer" (click)="UploadAvatar()">
                    <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white" src="{{urlImage}}" alt="">
                    <nav class="pl-4 pt-2 text-white text-sm"
                        style="font-family:'Titillium Web', sans-serif; color: #edf2f7; ">
                        Cambiar imagen de perfil
                    </nav>
                </div>
            </div>
        </li>
    </ul>

</nav>
