
<div class="bg-gray-100 border-2 rounded-md p-2">
  <form [formGroup]="form">

      <br>
      <div align="center" class="underline font-bold capitalize">AUTORIZACIÓN DE PERMISOS</div>

      <div align="center" class=" font-bold capitalize">
          JEFATURA DE PERSONAL <br>
          DIRECCIÓN DE ÁREA DE SALUD DE JALAPA <br>
          MINISTERIO DE SALUD PÚBLICA Y ASISTENCIA SOCIAL <br>
      </div>
      <br>
      <div class="grid grid-cols-2">
          <div >
              <mat-form-field appearance="outline" class="inputheight inputsize">
                  <mat-label>{{actuality}}</mat-label>
                  <input matInput formControlName="submitted_at" type="date" (ngModelChange)="emmittedDay($event)">
              </mat-form-field>
          </div>
      </div>
      <div class="flex flex-row">
          <div class="flex-1">Nombre completo del servidor o contratista:</div>
          <div class="flex-1 font-bold underline">  </div>
      </div>
      <br>
      <div class="flex flex-row">
          <div class="flex-1">Puesto que desenpeña:</div>
          <div class="flex-1 font-bold underline"></div>
        </div>


      <br>
      <div class="flex flex-row">
      <div class="flex-1">Renglon presupuestario:</div>
      <div class="flex-1 font-bold underline"></div>
    </div><br>

      <div class="grid grid-cols-2">
        <div >
          <mat-label>Fecha de ausencia:</mat-label>
            <mat-form-field appearance="outline" class="inputheight inputsize">

                <input matInput type="date" >
            </mat-form-field>
        </div>
    </div>

          <div class="col-span-2 p-2 text-left">Razon de la ausencia:</div>
          <div class="col-span-1 inputsize">
              <mat-form-field appearance="outline" class="inputheight">
                  <input matInput >
              </mat-form-field>
          </div>


      <div>
          <strong>Documentacion adjunta para evidenciar la ausencia: </strong>
          <mat-form-field appearance="outline" class=" inputheight text-base">
              <mat-label>Archivos adjuntos</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" c dkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5" >
          </textarea>
          </mat-form-field>
      </div>
      <div>
        <strong>SI LA SOLICITUD DE AUSENCIA DEL SERVICIO NO AMERITA SER APROBADA, ESPECIFICAR LOS MOTIVOS: </strong>
        <mat-form-field appearance="outline" class=" inputheight text-base">
            <mat-label>Motivos</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" c dkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" >
        </textarea>
        </mat-form-field>
    </div>

      <div class="ed-container">
          <div class="ed-item s-100 m-50 l-50">
              <div class=" border border-gray-600 rounded-sm p-2">
                  <div class="-mt-6" align="center">
                      <div class="border border-gray-500 rounded-md text-gray-900 bg-gray-100  w-1/2 " align="center">Jefe de personal</div>
                  </div>
                  <div class="">
                      <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                          <mat-label>Nombre del jefe de personal</mat-label>
                          <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              formControlName="personnelOfficer">
                      </mat-form-field>
                  </div>

                  <div class="my-2">
                      <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                          <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              formControlName="personnelOfficerPosition">
                      </mat-form-field>
                  </div>

                  <div class="my-2">
                      <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                          <mat-label>Área</mat-label>
                          <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              formControlName="personnelOfficerArea">
                      </mat-form-field>
                  </div>
              </div>
          </div>
          <div class="ed-item s-100 m-50 l-50 pt-8 sm:pt-0">
              <div class="border border-gray-600 rounded-sm p-2">
                  <div class="-mt-6" align="center">
                      <div class="border border-gray-500 rounded-md text-gray-900 bg-gray-100  w-1/2 " align="center">Director Ejecutivo</div>
                  </div>
                  <div class="">
                      <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                          <mat-label>Nombre del director ejecutivo</mat-label>
                          <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              formControlName="executiveDirector">
                      </mat-form-field>
                  </div>

                  <div class="my-2">
                      <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                          <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              formControlName="executiveDirectorPosition">
                      </mat-form-field>
                  </div>

                  <div class="my-2">
                      <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                          <mat-label>Área</mat-label>
                          <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              formControlName="executiveDirectorArea">
                      </mat-form-field>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div class="ed-item ed-container">
          <div class="ed-item s-100 m-50 l-50 pt-4 sm:pt-0">
              <div class="py-1">
                  <button class=" mycustom-buttom-primary hover:bg-green-700 rounded-lg w-full max-w-full px-12"
                      (click)="save()">ACEPTAR</button>
              </div>
          </div>
          <div class="ed-item s-100 m-50 l-50 pt-4 sm:pt-0">
            <div class="py-1">
                <button class="mycustom-button-warning hover:bg-red-700 rounded-lg w-full max-w-full px-12"
                    (click)="close()">DENEGAR</button>
            </div>
        </div>
          <div class="ed-item s-100 m-50 l-50 pt-4 sm:pt-0">
              <div class="py-1">
                  <button class="mycustom-button-warning hover:bg-red-700 rounded-lg w-full max-w-full px-12"
                      (click)="close()">CANCELAR</button>
              </div>
          </div>
      </div>
  </form>

</div>
