<app-navbar></app-navbar>
<div class="box">
  <form [formGroup]="addressFormCurriculum">
    <mat-card class="shipping-card">
      <div class="contenedor">
      <mat-card-title class="text-center" style="width: 100%;margin-left: 10%;">INFORMACIÓN CURRICULUM</mat-card-title>
      <mat-card-actions align-content="right" style="align-content: right;">
        <app-curriculum-pdf [UUIDPerson]="uuid" style="width: 50px;"></app-curriculum-pdf>
      </mat-card-actions>
    </div>
      <div style="margin: auto;text-align: center;">
        <button mat-raised-button color="primary" style="margin-bottom: 10px;" (click)="UploadAvatar()">Subir
          Foto</button>


        <img class="rounded-full ring-2 ring-white" style="margin:auto; width: 300px; margin-bottom: 15px;"
          src="{{urlImage}}" alt="">

      </div>
      <mat-card-header>
        <mat-card-title>DATOS GENERALES</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre Completo" formControlName="fullname">
              <mat-error *ngIf="addressFormCurriculum.controls['fullname'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Dirección Particular" formControlName="direction"></textarea>
              <mat-error *ngIf="addressFormCurriculum.controls['direction']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="País" formControlName="country">
              <mat-error *ngIf="addressFormCurriculum.controls['country']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Municipio" formControlName="municipality">
              <mat-error *ngIf="addressFormCurriculum.controls['municipality']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Departamento" formControlName="department">
              <mat-error *ngIf="addressFormCurriculum.controls['department']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Aldea/Caserio" formControlName="village">
              <mat-error *ngIf="addressFormCurriculum.controls['village']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Teléfono Residencia" formControlName="homephone">
              <mat-error *ngIf="addressFormCurriculum.controls['homephone']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Teléfono Oficina" formControlName="workPhone">
              <mat-error *ngIf="addressFormCurriculum.controls['workPhone']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Telefono Celular" formControlName="phone">
              <mat-error *ngIf="addressFormCurriculum.controls['phone']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Correo Electronico" type="email" formControlName="email">
              <mat-error *ngIf="addressFormCurriculum.controls['email']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Fecha de Nacimiento" type="date" formControlName="borndate">
              <mat-error *ngIf="addressFormCurriculum.controls['borndate']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Edad" formControlName="age">
              <mat-error *ngIf="addressFormCurriculum.controls['age']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Lugar de Nacimiento" formControlName="bornPlace">
              <mat-error *ngIf="addressFormCurriculum.controls['bornPlace']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Estado Civil" formControlName="civilStatus">
              <mat-error *ngIf="addressFormCurriculum.controls['civilStatus']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nacionalidad" formControlName="nacionality">
              <mat-error *ngIf="addressFormCurriculum.controls['nacionality']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Etnia" formControlName="etnia">
              <mat-error *ngIf="addressFormCurriculum.controls['etnia']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
  <!-- -------------------------------------------------- -->
  <form [formGroup]="addressFormCurriculum">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>DATOS DE IDENTIFICACION</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="CUI" formControlName="dpi">
              <mat-error *ngIf="addressFormCurriculum.controls['dpi'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="No. Pasaporte" formControlName="passport">
              <mat-error *ngIf="addressFormCurriculum.controls['passport']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="No. Afiliacion IGSS" formControlName="igss">
              <mat-error *ngIf="addressFormCurriculum.controls['igss']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Licencia" formControlName="license">
              <mat-error *ngIf="addressFormCurriculum.controls['license']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="ed-item s-100 m-50 l-50">
            <mat-form-field class="full-width">
              <input matInput placeholder="NIT" formControlName="nit">
              <mat-error *ngIf="addressFormCurriculum.controls['nit'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button color="primary" type="submit" [disabled]="addressFormCurriculum.invalid"
          (click)="editCurriculum()">Actualizar</button>
        <button mat-raised-button color="primary" routerLink="/dashboard">Regresar</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <!-- -------------------------------------------------- -->
  <form [formGroup]="addressFormPersonEducation">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>EDUCACION</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="País" formControlName="country">
              <mat-error *ngIf="addressFormPersonEducation.controls['country'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Establecimiento" formControlName="establishment">
              <mat-error *ngIf="addressFormPersonEducation.controls['establishment'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Periodo Del" type="date" formControlName="periodof">
              <mat-error *ngIf="addressFormPersonEducation.controls['periodof'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Período Al" type="date" formControlName="periodto">
              <mat-error *ngIf="addressFormPersonEducation.controls['periodto'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Diploma" formControlName="certificate">
              <mat-error *ngIf="addressFormPersonEducation.controls['certificate'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Estado" formControlName="status">
              <mat-error *ngIf="addressFormPersonEducation.controls['status'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="ed-item s-100 m-50 l-50">
            <mat-form-field class="full-width">
              <input matInput placeholder="Grado" formControlName="grade">
              <mat-error *ngIf="addressFormPersonEducation.controls['grade'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>

      <mat-card-actions style="text-align: center;">
        <button mat-raised-button color="primary"  *ngIf="this.lengthEducation != 5" [disabled]="addressFormPersonEducation.invalid" (click)="aggEducation()">Agregar</button>
      </mat-card-actions>
      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">País</th>
              <th scope="col">Establecimiento</th>
              <th scope="col">Periodo Del</th>
              <th scope="col">Periodo Al</th>
              <th scope="col">Diploma</th>
              <th scope="col">Estado</th>
              <th scope="col">Grado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let education of tableEducation">
              <td>{{education.country}}</td>
              <td>{{education.establishment}}</td>
              <td>{{education.periodof}}</td>
              <td>{{education.periodto}}</td>
              <td>{{education.certificate}}</td>
              <td>{{education.status}}</td>
              <td>{{education.grade}}</td>
              <td style="width: 10px;">
                <div class="rounded-full cursor-pointer" (click)="deleteEducation(education.uuid)">
                  <div class="justify-center text-center ">
                    <i class="fas fa-trash-alt fa-2x fa-fw fa-inverse text-red-500"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </form>
  <!-- -------------------------------------------------- -->
  <form [formGroup]="addressFormRefFam">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>REFERENCIAS FAMILIARES</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre" formControlName="name">
              <mat-error *ngIf="addressFormRefFam.controls['name']">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Teléfono" formControlName="phone">
              <mat-error *ngIf="addressFormRefFam.controls['phone'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select matInput placeholder="Parentesco" formControlName="relationship">
                <mat-option *ngFor="let status of relationship" [value]="status">
                  {{status}}
                </mat-option>
                <mat-error *ngIf="addressFormRefFam.controls['relationship'].hasError('required')">
                  <strong>*Obligatorio</strong>
                </mat-error>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Fecha De Nacimiento" type="date" formControlName="bornDate">
              <mat-error *ngIf="addressFormRefFam.controls['bornDate'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button color="primary" *ngIf="this.lengthRefFam != 3" [disabled]="addressFormRefFam.invalid"
          (click)="aggRefFam()">Agregar</button>
      </mat-card-actions>
      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Parenteso</th>
              <th scope="col">Fecha de Nacimiento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reffam of tableRefFam">
              <td>{{reffam.name}}</td>
              <td>{{reffam.phone}}</td>
              <td>{{reffam.relationship}}</td>
              <td>{{reffam.bornDate}}</td>
              <td style="width: 5px;">
                <div class="rounded-full cursor-pointer" (click)="deleteRefFam(reffam.uuid)">
                  <div class="justify-center text-center ">
                    <i class="fas fa-trash-alt fa-2x fa-fw fa-inverse text-red-500"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </form>




  <!-- -------------------------------------------------- -->
  <form [formGroup]="addressFormRefPer">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>REFERENCIAS PERSONALES</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre" formControlName="name">
              <mat-error *ngIf="addressFormRefPer.controls['name'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Profesión" formControlName="profession">
              <mat-error *ngIf="addressFormRefPer.controls['profession'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Teléfono" formControlName="phone">
              <mat-error *ngIf="addressFormRefPer.controls['phone'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Empresa" formControlName="company">
              <mat-error *ngIf="addressFormRefPer.controls['company'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input  matInput placeholder="Parentesco" formControlName="relationship">
                <mat-error *ngIf="addressFormRefPer.controls['relationship'].hasError('required')">
                  <strong>*Obligatorio</strong>
                </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions style="text-align: center;">
        <button mat-raised-button color="primary" *ngIf="this.lengthRefPer != 3" [disabled]="addressFormRefPer.invalid"
          (click)="aggRefPer()">Agregar</button>
      </mat-card-actions>

      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Profesión</th>
              <th scope="col">Empresa</th>
              <th scope="col">Parentesco</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let refper of tableRefPer">
              <td>{{refper.name}}</td>
              <td>{{refper.phone}}</td>
              <td>{{refper.profession}}</td>
              <td>{{refper.company}}</td>
              <td>{{refper.relationship}}</td>
              <td style="width: 5px;">
                <div class="rounded-full cursor-pointer" (click)="deleteRefPer(refper.uuid)">
                  <div class="justify-center text-center ">
                    <i class="fas fa-trash-alt fa-2x fa-fw fa-inverse text-red-500"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </form>
  <!-- -------------------------------------------------- -->
  <form [formGroup]="addressFormWorkExperience">
    <mat-card class="shipping-card" style="width: 1200px; text-align: center;">
      <mat-card-header>
        <mat-card-title class="text-center">EXPERIENCIA LABORAL</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div  class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre de la Institución o Empresa" formControlName="company">
              <mat-error *ngIf="addressFormWorkExperience.controls['company'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Fecha De Inicio" type="date" formControlName="dateof">
              <mat-error *ngIf="addressFormWorkExperience.controls['dateof'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width" >
              <input matInput placeholder="Fecha Del Final" type="date" formControlName="dateto">
              <mat-error *ngIf="addressFormWorkExperience.controls['dateto'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Dirección" formControlName="direction">
              <mat-error *ngIf="addressFormWorkExperience.controls['direction'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Teléfono" formControlName="phone">
              <mat-error *ngIf="addressFormWorkExperience.controls['phone'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre Jefe Inmediato" formControlName="bossname">
              <mat-error *ngIf="addressFormWorkExperience.controls['bossname'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Motivo Del Retiro" formControlName="reason">
              <mat-error *ngIf="addressFormWorkExperience.controls['reason'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Sector" formControlName="sector">
              <mat-error *ngIf="addressFormWorkExperience.controls['sector'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Puesto Desempeñado" formControlName="job">
              <mat-error *ngIf="addressFormWorkExperience.controls['job'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Salario" type="number" formControlName="salary">
              <mat-error *ngIf="addressFormWorkExperience.controls['salary'].hasError('required')">
                <strong>*Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button color="primary" type="submit" *ngIf="this.lengthExperience != 5" [disabled]="addressFormWorkExperience.invalid" (click)="aggWorkExp()">Agregar</button>
      </mat-card-actions>
      <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Motivo del Retiro</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha del Final</th>
            <th scope="col">Puesto Desempeñado</th>
            <th scope="col">Nombre de Jefe Inmediato</th>
            <th scope="col">Sector</th>
            <th scope="col">Salario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let experience of tableExperience">
            <td scope="row">{{experience.company}}</td>
            <td>{{experience.direction}}</td>
            <td>{{experience.phone}}</td>
            <td>{{experience.reason}}</td>
            <td>{{experience.dateof}}</td>
            <td>{{experience.dateto}}</td>
            <td>{{experience.job}}</td>
            <td>{{experience.bossname}}</td>
            <td>{{experience.sector}}</td>
            <td>{{experience.salary}}</td>
            <td style="width: 5px;">
              <div class="rounded-full cursor-pointer" (click)="deleteWorkExp(experience.uuid)">
                <div class="justify-center text-center ">
                  <i class="fas fa-trash-alt fa-2x fa-fw fa-inverse text-red-500"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </form>
</div>
