<app-navbar></app-navbar>
<!--Data object from database-->
<div class="box">
    <div class="datagrid overflow-x-auto block">
      <div align="center" class=" font-bold capitalize" style="margin-bottom: 5PX; font-size: 20px;">
        MIS SOLICITUDES ACTIVAS <br>
      </div>
      <table>
        <thead>
          <tr style="text-align: center;">
            <th>No.</th>
            <th>EMITIDO</th>
            <th>FECHA DE PERMISO</th>
            <th>JEFE INMEDIATO</th>
            <th>ESTADO</th>
            <th>VO.BO.</th>
            <th>ESTADO</th>
            <th>ESTADO DE SOLICITUD</th>
            <th>DETALLES</th>
          </tr>
        </thead>
        <tbody>
        <tr style="text-align: center;" *ngFor="let item of permissionreq  let indexof = index;" style="text-align: center;"
          class="text-lg" [class.alt]="(indexof + 1)%2==1">
          <td>{{indexof + 1}}</td>
          <td>{{item.submittedAt  | date: 'd MMM y H:mm' | uppercase }}</td>
          <td>{{item.permissionDate  | date: 'd MMM y ' | uppercase }}</td>
          <td>{{item.bossOne}}</td>
          <td>{{item.statusBossOne}} </td>
          <td>{{item.bossTwo}}</td>
          <td>{{item.statusBossTwo}}</td>
          <td>{{item.status}}</td>
          <td style="width: 50px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center" [routerLink]="['/solicitudpermiso/edit/',item.uuid]">
                <i class="fas fa-check fas fa-edit fa-2x fa-fw fa-inverse text-green-500"></i>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="datagrid overflow-x-auto block" style="margin-top: 50PX;">
      <div align="center" class=" font-bold capitalize" style="margin-bottom: 5PX; font-size: 20px;">
        HISTORIAL DE SOLICITUDES<br>
      </div>
      <table>
        <thead>
          <tr style="text-align: center;">
            <th>No.</th>
            <th>EMITIDO</th>
            <th>FECHA DE PERMISO</th>
            <th>ESTADO</th>
            <th>DETALLES</th>
            <th>IMPRIMIR</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;" *ngFor="let item of permissionreq2 | paginate: { id: 'Page', itemsPerPage: tableSize, currentPage: p} let indexof = index;"
          class="text-lg" [class.alt]="(indexof + 1)%2==1">
          <td>{{tableSize * (p -1 ) + indexof + 1}}</td>
          <td>{{item.submittedAt | date: 'd MMM y H:mm' | uppercase }}</td>
          <td>{{item.permissionDate | date: 'd MMM y' | uppercase }}</td>
          <td>{{item.status}}</td>
          <td style="width: 50px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center " [routerLink]="['/solicitudpermiso/edit/',item.uuid]">
                <i class="fas fa-plus-circle fas fa-edit fa-2x fa-fw fa-inverse text-green-500"></i>
              </div>
            </div>
          </td>
          <td style="width: 10px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center ">
                <i class="fas fa-print fa-2x fa-fw fa-inverse text-gray-900" (click)="PrintPermission(item.uuidPerson, item.uuid)"></i>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls id="Page" (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior">
      </pagination-controls>
  </div>
</div>
