
/*
 * inputs sizes and forms
 *
*/
p{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 1px;
  text-align: center;
}

.target {
    position: absolute;
    left: 5%;
    right: 5%;
    margin-top: 80px;
}

.inputsize {
    font-size: 12px !important;
}

.inputheight {
    width: 100% !important;
}

.inputheight1 {
    width: 60% !important;
}

.my-form {
    width: 100%;
}

.full-width {
    width: 100% !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}

.tamano {
    width: 100%;
}

.neg-mt {
    margin-top: -14%;
}

.justi-center {
    padding-left: 12%;
    padding-right: 12%;

    padding-top: 4%;
    padding-bottom: 4%;
}

.tabla1{
  min-width: 700px;
  max-width: 700px;
  min-height: 490px;
  max-height: 490px;

}

.tabla2{
  min-width: 700px;
  max-width: 700px;
  min-height: 490px;
  max-height: 490px;
}

.tabla3{
  min-width: 700px;
  max-width: 700px;
  min-height: 490px;
  max-height: 490px;
}

.contenedor{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  place-items: center;
  width: 1400px;
}

.form-control{
  margin: 5px;
  width: 690px;
  height: 30px;
}
