<app-navbar></app-navbar>
<div class="mt-8 lg:mt-4 px-6 ml-12 mr-auto">
  <div class="row" style="width: 1250px; margin: auto;">
    <div class="user border rounded-md " style="display:inline-table;">
      <form class="ed-item ed-container inputsize">
        <mat-dialog-content [formGroup]="form">
          <div class="ed-item ed-container">
            <div class="ed-item s-100 m-100 l-100">
              <mat-form-field appearance="outline" class="w-full" style="margin-top: 10px;">
                <mat-label>Persona</mat-label>
                <mat-select formControlName='uuidPerson'>
                  <input type="text" class="p-2" autocomplete="off" matInput placeholder="Buscar por Nombre"
                    #multiUserSearch (input)="onInputChange()">
                  <mat-option *ngFor="let persona of persons" [value]="persona.uuid">
                    {{persona.fullname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="ed-item s-100 m-100 l-100">
              <span *ngIf="submitted && f.username.errors" class="text-red-700 text-xs animated fadeIn">Ingrese el
                usuario</span>
              <mat-form-field appearance="outline" class="inputheight">
                <mat-label>Nombre de usuario</mat-label>
                <input matInput formControlName="username" [ngClass]="{'is-invalid':submitted && f.username.errors}">
              </mat-form-field>

            </div>

            <div class="ed-item s-100 m-100 l-100">
              <span *ngIf="submitted && f.password.errors" class="text-red-700 text-xs animated fadeIn">Ingrese la
                contraseña</span>
              <mat-form-field appearance="outline" class="inputheight">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password"
                  [ngClass]="{'is-invalid':submitted && f.password.errors}">
              </mat-form-field>
              <span *ngIf="submitted && f.password.errors" class="text-blue-700"> </span>
            </div>

            <div class="ed-item s-100 m-100 l-100">
              <span *ngIf="submitted && f.id_rol.errors" class="text-red-700 text-xs animated fadeIn">Seleccione el
                rol</span>
              <mat-form-field appearance="outline" class="example-full-width inputheight">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="id_rol" [ngClass]="{'is-invalid':submitted && f.id_rol.errors}">
                  <mat-option *ngFor="let option of rols" [value]="option.id_rol">
                    {{option.type_rol}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
        </mat-dialog-content>

        <div class="ed-item ed-container ">

          <div class="ed-item s-50">
            <div class="py-1 ">
              <button class="mycustom-buttom-primary hover:bg-green-700 rounded-lg tamano"
                (click)="save()">GUARDAR</button>
            </div>
          </div>
          <div class="ed-item s-50">
            <div class="py-1 ">
              <button class="mycustom-button-warning hover:bg-red-700 rounded-lg tamano">CANCELAR</button>
            </div>
          </div>

        </div>
      </form>


    </div>

    <!--Data object from database-->


    <div class="datagrid border rounded-md " style="display:inline-table; float: right;">
      <table class="tabla1" style="width: 700px; ">
        <thead style="text-align: center;">
          <tr>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
            <th>No.</th>
            <th>NOMBRE DE USUARIO</th>
            <th>ROL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let duser of admins; let indexof = index;" class="text-lg"
            [class.alt]="(indexof + 1)%2==1">
            <td style="width: 10px;">
              <div class="rounded-full cursor-pointer" (click)="UpdateUser(duser.uuid)">
                <div class="justify-center text-center ">
                  <i class="fas fa-edit fa-2x fa-fw fa-inverse text-green-500"></i>
                </div>
              </div>
            </td>

            <td style="width: 10px;">
              <div class="rounded-full cursor-pointer" (click)="deleteAdmin(duser.uuid)">
                <div class="justify-center text-center ">
                  <i class="fas fa-trash-alt fa-2x fa-fw fa-inverse text-red-500"></i>
                </div>
              </div>
            </td>
            <td>{{indexof + 1}}</td>
            <td>{{duser.username}}</td>
            <td>{{duser.rol}}</td>
          </tr>

        </tbody>


      </table>
    </div>
  </div>
  <div> </div>
  <div class="row" style="width: 1350px; margin: auto;">
    <div class="datagrid border rounded-md " style="display:inline-table; float: left;">
      <table class="tabla1" style=" width: 650px;" >

        <thead style="text-align: center;">
          <tr>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
            <th>No.</th>
            <th>NOMBRE</th>
            <th>NOMBRE DE USUARIO</th>
            <th>ROL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let duser of bosses; let indexof = index;" class="text-lg"
            [class.alt]="(indexof + 1)%2==1">
            <td style="width: 10px;">
              <div class="rounded-full cursor-pointer" (click)="UpdateUser(duser.uuid)">
                <div class="justify-center text-center ">
                  <i class="fas fa-edit fa-2x fa-fw fa-inverse text-green-500"></i>
                </div>
              </div>
            </td>

            <td style="width: 10px;">
              <div class="rounded-full cursor-pointer" (click)="deletePerson(duser.uuid, duser.uuidPerson)">
                <div class="justify-center text-center ">
                  <i class="fas fa-trash-alt fa-2x fa-fw fa-inverse text-red-500"></i>
                </div>
              </div>
            </td>
            <td>{{indexof + 1}}</td>
            <td>{{duser.fullname}}</td>
            <td>{{duser.username}}</td>
            <td>{{duser.rol}}</td>
          </tr>

        </tbody>
      </table>

    </div>

    <div class="datagrid border rounded-md " style="display:inline-table; float: right;">
      <table class="tabla2">

        <thead style="text-align: center;">
          <tr>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
            <th>No.</th>
            <th>NOMBRE</th>
            <th>NOMBRE DE USUARIO</th>
            <th>ROL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let duser of employees; let indexof = index;" class="text-lg"
            [class.alt]="(indexof + 1)%2==1">
            <td style="width: 10px;">
              <div class="rounded-full cursor-pointer" (click)="UpdateUser(duser.uuid)">
                <div class="justify-center text-center ">
                  <i class="fas fa-edit fa-2x fa-fw fa-inverse text-green-500"></i>
                </div>
              </div>
            </td>

            <td style="width: 10px;">
              <div class="rounded-full cursor-pointer" (click)="deletePerson(duser.uuid, duser.uuidPerson)">
                <div class="justify-center text-center ">
                  <i class="fas fa-trash-alt fa-2x fa-fw fa-inverse text-red-500"></i>
                </div>
              </div>
            </td>
            <td>{{indexof + 1}}</td>
            <td>{{duser.fullname}}</td>
            <td>{{duser.username}}</td>
            <td>{{duser.rol}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
