.box{
    margin-top: 20px;
    display: grid;
    place-items: center;
  }


.filters{
  display: grid;
    place-items: center;
}

.boton{
  background-color: rgb(0, 102, 153);
  color: aliceblue;
}
