<app-navbar></app-navbar>

<!--Data object from database-->
<div class="box">


    <div class="datagrid" style="width: 900px;">
      <div align="center" class=" font-bold capitalize" style="margin-bottom: 5PX; font-size: 20px;">
        SOLICITUDES POR AUTORIZAR <br>
      </div>
      <table>

        <thead>

          <tr style="text-align: center;">
            <th>No.</th>
            <th style="width: 140px;">EMITIDO</th>
            <th>SOLICITANTE</th>
            <th style="width: 180px;">FECHA DE PERMISO</th>
            <th>ACEPTAR / DENEGAR</th>
            <th>IMPRIMIR</th>
          </tr>
        </thead>
        <tbody>
          <tr
          *ngFor="let item of permissionreq | paginate: { id: 'Page', currentPage: p, itemsPerPage: tableSize }; let indexof = index;" style="text-align: center;"
           class="text-lg" [class.alt]="(indexof + 1)%2==1">
          <td>{{tableSize * (p -1 ) + indexof + 1}}</td>
          <td>{{item.submittedAt | date: 'd MMM y H:mm' | uppercase }}</td>
          <td>{{item.person.fullname}}</td>
          <td>{{item.permissionDate | date: 'd MMM y' | uppercase }}</td>
          <td style="width: 180px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center" [routerLink]="['/solicitudpermiso/edit/',item.uuid]">
                <i class="fas fa-plus-circle fas fa-edit fa-2x fa-fw fa-inverse text-green-500"></i>
              </div>
            </div>
          </td>
          <td style="width: 10px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center ">
                <i class="fas fa-print fa-2x fa-fw fa-inverse text-gray-900"></i>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls id="Page" (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior">
      </pagination-controls>
    </div>

    <div class="datagrid" style="margin-top: 50PX; width: 1200px;">
      <div align="center" class=" font-bold capitalize" style="margin-bottom: 5PX; font-size: 20px;">
        SOLICITUDES POR AUTORIZAR VO.BO.<br>
      </div>
      <table>
        <thead>
          <tr style="text-align: center;">
            <th>No.</th>
            <th style="width: 140px;">EMITIDO</th>
            <th>AUTORIZADO POR</th>
            <th>SOLICITANTE</th>
            <th style="width: 180px;">FECHA DE PERMISO</th>
            <th>ACEPTAR / DENEGAR</th>
            <th>IMPRIMIR</th>
          </tr>
        </thead>
        <tbody>
          <tr
          *ngFor="let item of permissionreq2 | paginate: { id: 'Page2', itemsPerPage: tableSize, currentPage: p2} let indexof = index;" style="text-align: center;"
          class="text-lg" [class.alt]="(indexof + 1)%2==1">
          <td>{{tableSize * (p2 -1 ) + indexof + 1}}</td>
          <td>{{item.submittedAt | date: 'd MMM y H:mm' | uppercase }}</td>
          <td>{{item.bossOne}}</td>
          <td>{{item.person.fullname}}</td>
          <td>{{item.permissionDate | date: 'd MMM y' | uppercase }}</td>
          <td style="width: 180px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center" [routerLink]="['/solicitudpermiso/edit/',item.uuid]">
                <i class="fas fa-plus-circle fas fa-edit fa-2x fa-fw fa-inverse text-green-500"></i>
              </div>
            </div>
          </td>
          <td style="width: 10px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center ">
                <i class="fas fa-print fa-2x fa-fw fa-inverse text-gray-900"></i>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls id="Page2" (pageChange)="p2 = $event" nextLabel="Siguiente" previousLabel="Anterior">
      </pagination-controls>
    </div>

</div>
