<app-navbar></app-navbar>

<!--Data object from database-->
<div class="mt-8 px-6">

  <div class="ml-16 mr-auto">
    <div class="datagrid overflow-x-auto block">
      <div align="center" class=" font-bold capitalize" style="margin-bottom: 5PX; font-size: 20px;">
        SOLICITUDES POR AUTORIZAR <br>
      </div>
      <table>

        <thead>

          <tr>
            <th>No.</th>
            <th>EMITIDO</th>
            <th>SOLICITANTE</th>
            <th>FECHA DE PERMISO</th>
            <th>ACEPTAR / DENEGAR</th>
            <th>IMPRIMIR</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of permissionreq; let indexof = index;">
          <td>{{indexof + 1}}</td>
          <td>{{item.submittedAt}}</td>
          <td>{{item.person.fullname}}</td>
          <td>{{item.permissionDate}}</td>
          <td style="width: 180px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center" [routerLink]="['solicitudpermiso/edit/',item.uuid]">
                <i class="fas fa-plus-circle fas fa-edit fa-2x fa-fw fa-inverse text-green-500"></i>
              </div>
            </div>
          </td>
          <td style="width: 10px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center ">
                <i class="fas fa-print fa-2x fa-fw fa-inverse text-gray-900"></i>
              </div>
            </div>
          </td>
        </tbody>
      </table>
    </div>

    <div class="datagrid overflow-x-auto block" style="margin-top: 100PX;">
      <div align="center" class=" font-bold capitalize" style="margin-bottom: 5PX; font-size: 20px;">
        SOLICITUDES POR AUTORIZAR VO.BO.<br>
      </div>
      <table>

        <thead>

          <tr>
            <th>No.</th>
            <th>EMITIDO</th>
            <th>AUTORIZADO POR</th>
            <th>SOLICITANTE</th>
            <th>FECHA DE PERMISO</th>
            <th>ACEPTAR / DENEGAR</th>
            <th>IMPRIMIR</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of permissionreq2">
          <td></td>
          <td>{{item.submittedAt}}</td>
          <td>{{item.bossOne.fullname}}</td>
          <td>{{item.fullname}}</td>
          <td>{{item.permissionDate}}</td>
          <td style="width: 180px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center " [routerLink]="['/solicitudpermiso']">
                <i class="fas fa-plus-circle fas fa-edit fa-2x fa-fw fa-inverse text-green-500"></i>
              </div>
            </div>
          </td>
          <td style="width: 10px;">
            <div class="rounded-full cursor-pointer">
              <div class="justify-center text-center ">
                <i class="fas fa-print fa-2x fa-fw fa-inverse text-gray-900"></i>
              </div>
            </div>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
