<!-- <div mat-dialog-title class="block text-gray-700 text-sm font-bold mb-2 text-center pb-5">Generar autorización</div> -->

<div class="bg-gray-100 border-2 rounded-md p-2">
    <form [formGroup]="form">


        <div class="font-bold">
            Reg: {{this.formatNumber(this.newAuthorization.register, 4, '0') + '-' + emmitedYearAuthorization}}
        </div>

        <br>
        <div align="center" class="underline font-bold capitalize">AUTORIZACIÓN DE VACACIONES</div>
        <br>
        <div align="center" class=" font-bold capitalize">
            SECCIÓN DE RECURSOS HUMANOS <br>
            DIRECCIÓN DE ÁREA DE SALUD DE JALAPA <br>
            MINISTERIO DE SALUD PÚBLICA Y ASISTENCIA SOCIAL <br>
        </div>
        <br>
        <div class="grid grid-cols-2">
            <div class="">
                <mat-form-field appearance="outline" class="inputheight inputsize">
                    <mat-label>{{this.formatDate(this.newAuthorization.submitted_at)}}</mat-label>
                    <input matInput formControlName="submitted_at" type="date">
                </mat-form-field>
            </div>
        </div>
        <div class="flex flex-row">
            <div class="flex-1">Nombre completo del solicitante:</div>
            <div class="flex-1 font-bold underline"> {{newAuthorization.person.fullname}} </div>
        </div>
        <br>
        <div class="grid grid-cols-12 justify-items-auto">
            <div class="col-span-4">Código del servidor público:</div>
            <div class="col-span-2 font-bold underline text-left">{{newAuthorization.person['cui']}}</div>
            <div class="col-span-4 gap-1">Partida presupuestaria individual:</div>
            <div class="col-span-2 font-bold underline text-left">{{newAuthorization.person.partida.split('-')[12]}}</div>
            <div class="col-span-4 my-6">Título del puesto:</div>
            <div class="col-span-8 my-6 font-bold">{{newAuthorization.person.job.name}} </div>
            <div class="col-span-4 my-3 py-2">Dependencia donde labora:</div>
            <div class="col-span-8 my-6 font-bold">{{newAuthorization.person.work_dependency.name}} </div>
            <div class="col-span-8 my-3 py-2">Periodo o año al que corresponde la autorización:</div>
            <div class="col-span-4 my-3 font-bold">
                <mat-form-field appearance="outline" class="example-full-width inputheight inputsize">
                    <mat-label>{{newAuthorization.authorizationyear}}</mat-label>
                    <mat-select formControlName="authorizationyear">
                        <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div align="justify">
            <mat-form-field appearance="outline" class=" inputheight text-base">
                <mat-label>Cuerpo</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" c dkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" formControlName="body">
            </textarea>
            </mat-form-field>
        </div>
        <div class="grid grid-cols-12 align-middle">
            <div class="col-span-1 p-2">Inicio: </div>
            <div class="col-span-4 inputsize">
                <mat-form-field appearance="outline" class="inputheight inputsize">
                    <mat-label>{{this.formatDate(this.newAuthorization.startdate)}}</mat-label>
                    <input matInput formControlName="startdate" type="date">
                </mat-form-field>
            </div>
            <div class="col-span-1"></div>
            <div class="col-span-2 p-2">Finalización: </div>
            <div class="col-span-4 inputsize">
                <mat-form-field appearance="outline" class="inputheight inputsize">
                    <mat-label>{{this.formatDate(newAuthorization.enddate)}}</mat-label>
                    <input matInput formControlName="enddate" type="date">
                </mat-form-field>
            </div>

        </div>

        <div class="grid grid-cols-12">
            <div class="col-start-3 col-span-4 p-2">Reanudación de labores: </div>
            <div class="col-start-7 col-span-4 inputsize">
                <mat-form-field appearance="outline" class="inputheight inputsize">
                    <mat-label>{{this.formatDate(this.newAuthorization.resumework)}}</mat-label>
                    <input matInput formControlName="resumework" type="date">
                </mat-form-field>
            </div>
        </div>

        <div class="grid grid-cols-12 text-sm">
            <div class="col-span-4 p-2 text-right">Días por asueto o feriado:</div>
            <div class="col-span-1 inputsize">
                <mat-form-field appearance="outline" class="inputheight">
                    <input matInput formControlName="holidays" type="number">
                </mat-form-field>
            </div>
            <div class="col-span-2 p-2 text-right">Total días:</div>
            <div class="col-span-1 inputsize">
                <mat-form-field appearance="outline" class="inputheight">
                    <input matInput formControlName="total_days" type="number">
                </mat-form-field>
            </div>
            <div class="col-span-3 p-2 text-right">Días pendientes:</div>
            <div class="col-span-1 inputsize">
                <mat-form-field appearance="outline" class="inputheight">
                    <input matInput formControlName="pendingdays" type="number">
                </mat-form-field>
            </div>
        </div>

        <div>
            <strong>OBSERVACIÓN: </strong>
            <mat-form-field appearance="outline" class=" inputheight text-base">
                <mat-label>Observación</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" c dkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" formControlName="observation">
            </textarea>
            </mat-form-field>
        </div>

        <div class="ed-container">
            <div class="ed-item s-100 m-50 l-50">
                <div class=" border border-gray-600 rounded-sm p-2">
                    <div class="-mt-6" align="center">
                        <div class="border border-gray-500 rounded-md text-gray-900 bg-gray-100  w-1/2 " align="center">
                            Jefe de personal</div>
                    </div>
                    <div class="">
                        <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                            <mat-label>Nombre del jefe de personal</mat-label>
                            <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                formControlName="personnelOfficer">
                        </mat-form-field>
                    </div>

                    <div class="my-2">
                        <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                            <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                formControlName="personnelOfficerPosition">
                        </mat-form-field>
                    </div>

                    <div class="my-2">
                        <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                            <mat-label>Área</mat-label>
                            <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                formControlName="personnelOfficerArea">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="ed-item s-100 m-50 l-50 pt-8 sm:pt-0">
                <div class="border border-gray-600 rounded-sm p-2">
                    <div class="-mt-6" align="center">
                        <div class="border border-gray-500 rounded-md text-gray-900 bg-gray-100  w-1/2 " align="center">
                            Director Ejecutivo</div>
                    </div>
                    <div class="">
                        <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                            <mat-label>Nombre del director ejecutivo</mat-label>
                            <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                formControlName="executiveDirector">
                        </mat-form-field>
                    </div>

                    <div class="my-2">
                        <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                            <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                formControlName="executiveDirectorPosition">
                        </mat-form-field>
                    </div>

                    <div class="my-2">
                        <mat-form-field appearance="outline" class="h-6 w-full  my-1 text-base inputsize">
                            <mat-label>Área</mat-label>
                            <input matInput cdkTextareaAutosize c dkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                formControlName="executiveDirectorArea">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="ed-item ed-container">
            <div class="ed-item s-100 m-50 l-50 pt-4 sm:pt-0">
                <div class="py-1">
                    <button class=" mycustom-buttom-primary hover:bg-green-700 rounded-lg w-full max-w-full px-12"
                        (click)="save()">GUARDAR</button>
                </div>
            </div>

            <div class="ed-item s-100 m-50 l-50 pt-4 sm:pt-0">
                <div class="py-1">
                    <button class="mycustom-button-warning hover:bg-red-700 rounded-lg w-full max-w-full px-12"
                        (click)="close()">CANCELAR</button>
                </div>
            </div>
        </div>
    </form>

</div>
