<div mat-dialog-title class="block text-gray-700 text-sm font-bold mb-2 text-center pb-5"> {{formActionSubmmit}}
  Jefe de personal y Director Ejecutivo
</div>

<div class="ed-container" >
  <div class="row">
    <form class="ed-item ed-container inputsize">
      <mat-dialog-content [formGroup]="form"style="width: 100%;">
        <div  class="ed-item ed-container" style="width: 100%;">
          <div class="input"style="width: 50%;" >
            <span *ngIf="submitted && f.nameboss.errors" class="text-red-700 text-xs animated fadeIn" style="width: 100%;">Ingrese
              este campo</span>
            <mat-form-field appearance="outline" class="inputheight" style="width: 100%;">
              <mat-label>Jefe de personal</mat-label>
              <input matInput formControlName="nameboss">
            </mat-form-field>
          </div>
          <div class="input"style="width: 50%;">
          <span *ngIf="submitted && f.namedirector.errors" class="text-red-700 text-xs animated fadeIn" style="width: 100%;">Ingrese
            este campo</span>

            <mat-form-field appearance="outline" class="inputheight"style="width: 100%;">
              <mat-label>Director Ejecutivo</mat-label>
              <input matInput formControlName="namedirector">
            </mat-form-field>
          </div>
        </div>
      </mat-dialog-content>

      <div class="ed-item ed-container">

          <div class="ed-item s-50">
            <div class=" py-1">
              <button class=" mycustom-buttom-primary hover:bg-green-700 rounded-lg tamano"
                (click)="save()">{{formActionSubmmit.toUpperCase()}}</button>
            </div>
          </div>
          <div class="ed-item s-50">
            <div class=" py-1">
              <button class=" mycustom-button-warning hover:bg-red-700 rounded-lg tamano"
                (click)="close()">CANCELAR</button>
            </div>
          </div>
      </div>
    </form>
  </div>
</div>
