
.target {
  position: absolute;
  left: 5%;
  right: 5%;
  margin-top: 80px;
}

.inputsize {
  font-size: 12px !important;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.tamano {
  width: 100%;
}

.neg-mt {
  margin-top: -14%;
}

.ed-container{
  place-items: center;
  place-content: center;
  width: 100%;
}
