<app-navbar></app-navbar>
<div class="mt-8 px-6 ml-12 mr-auto">
  <div class="grid grid-cols-1 ">
    <div class="">
      <div class="my-2 mx-auto flex sm:flex-row flex-col origin-right">

      </div>

      <div>
        <div class="datagrid overflow-x-auto block">
          <table>
            <thead>
              <tr>

                <th>No.</th>
                <th>NOMBRE COMPLETO</th>
                <th>CÓDIGO</th>

                <th>SOLICITUD</th>
                <th *ngIf="user.rol == 'admin'">CONSTANCIA</th>
              </tr>
            </thead>
            <tfoot class="border-t-2 border-blue-600">
              <tr class="py-2">
                <td colspan="8">
                  <div id="paging">
                    <ul>
                      <li class="cursor-pointer"><a (click)="decrement()"><span>Anterior</span></a></li>
                      <li class="cursor-pointer"><a class="bg-white text-gray-800 font-bold"><span>{{page}}</span></a>
                      </li>
                      <li class="cursor-pointer"><a (click)="increment()"><span>Siguiente</span></a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let p of persons; let indexof = index" class="text-lg" [class.alt]="(indexof + 1)%2==1">



                <td>{{indexof + 1}}</td>
                <td>{{p.fullname}}</td>
                <td>{{p.cui}}</td>

                <td style="width: 15px;">
                  <div class="rounded-full cursor-pointer">
                    <div class="justify-center text-center " (click)="createRequestAuthorizationModal(p.uuid)">

                      <i class="fas fa-plus-circle fas fa-edit fa-2x fa-fw fa-inverse text-orange-500"></i>
                    </div>
                  </div>
                </td>

                <td style="width: 15px;" *ngIf="user.rol == 'admin'">
                  <app-constancy [IDPerson]="p.uuid"></app-constancy>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
